button {
  left: 2rem;
  top: 2rem;
  position: absolute;
  background-color: Transparent;
  background-repeat:no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  color: #1F1F1F;
  font-weight: 600;
}

.openNav {
  position: fixed;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 100px;
  font-weight: 600;
  color: white;
}


@media (max-width: 500px) {
  li {

  }

  .openNav {

  }

  button {
    
  }
}